<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./_head.ejs') %>
  <title>Blogs - <%= title %></title>
</head>
<body>
  <%- include('./_navbar.ejs')%>
  <section class="page-section">
    <h3 class="main-header">Account</h3>
    <main class="account-section">
      <h3>Welcome, <%= user.username %></h3>
      <%- include('./_messages.ejs') %>
      <% if (user.admin) { %>
        <label>User Role: Admin</label>
      <% } else { %>
        <label>User Role: User</label>
      <% } %>
      <% if (!user.active) { %>
        <form action="/account/resend/verification-code/<%= user._id %>" method="POST">
          <button type="submit" class="verification-btn">Resend</button> verification code to <%= user.email %>
        </form>
      <% } %>
      <form action="/account/delete/<%= user._id %>?_method=DELETE" method="POST">
        <button type="submit" class="del-btn">Delete Account</button>
      </form>
    </main>
  </section>
</body>
</html>