<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./_head.ejs') %>
  <title>bLogPoster - <%= title %></title>
</head>
<body>
  <%- include('./_navbar.ejs')%>
  <section class="page-section">

  <main class="delete-account-window hide" data-account-message-popup-container>
    <div class="top-bar">
      Message
    </div>
    <section class="message-content">
      <p>Are you sure you want to permenantly delete your account?</p>
      <form action="/account/delete/<%= user._id %>?_method=DELETE" method="POST">
        <button type="submit" class="del-btn">Delete</button>
        <button type="button" class="cancel-btn" data-cancel-btn>Cancel</button>
      </form>
    </section>
  </main>

    <h3 class="main-header">Account</h3>
    <main class="account-section">
      <h3>Welcome, <%= user.username %></h3>
      <br>
      <%- include('./_messages.ejs') %>
      <% if (user.admin) { %>
        <label>Role: Admin</label>
      <% } else { %>
        <label>Role: User</label>
      <% } %>
      <div style="margin:10px 0;">Email: <%= user.email %></div>
      <br>
      <br>
      <br>
      
      <% if (!user.active) { %>
        <form action="/account/resend/verification-code/<%= user._id %>" method="POST">
          <button type="submit" class="verification-btn">Resend</button> verification code to <%= user.email %>
        </form>
      <% } %>
        <button type="button" class="del-account-btn" onclick="deleteAccountFunction('<%= user._id %>')" data-delete-account-button>Delete Account</button>
    </main>
  </section>
</body>
</html>