<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./_head.ejs') %>
  <title>Blogs - <%= title%></title>
</head>
<body>
  <%- include('./_navbar.ejs')%>

  <main class="page-section">
    <main class="article-section"> 
      <!-- VIEW ARTICLE PAGE BUTTONS -->
      <div style="width:100%; display:flex; justify-content: flex-start;">
        <a class="cancel-btn" href="/blogs">Cancel</a>
      </div>
      <h3 class="main-header">Edit Article</h3>
      <form class="article-form" action="/blogs/edit/<%= article._id %>?_method=PUT" method="POST">
        <%- include('./_article_form.ejs')%>
      </form>
    </main>
  </main>
</body>
</html>