<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./_head.ejs') %>
  <title>Blogs - <%= title %></title>
</head>
<body>
  <%- include('./_navbar.ejs')%>

  <main class="page-section">
    <h3 class="main-header">Educational Blogs</h3>
    <% if (user) { %>
      <a class="new-article-btn" href="/blogs/new">New Article</a>
    <% } %>
    <!-- Article Section -->
    <% articles.forEach(article => { %>
      <% if (user) { %>
        <% if (article.published || user.username == article.createdUsername) { %>
        <!-- Published Articles Shown To Public (Users) -->
          <div class="article-container">
            <div class="article-information">
              <h4 class="article-title"><a href="/blogs/view/<%= article.slug %>"><%= article.title %></a></h4>
              <div class="article-author"><img class="author-img" src="/imgs/Prabdeep.png" alt="Prabdeep Dhaliwal"><div><%= article.createdUsername %></div></div>
              <div class="article-date"><%= article.createdAt.toLocaleDateString() %></div>
              <div class="article-description"><%= article.description %></div>
            </div>
            <% if (user.username == article.createdUsername) { %>
            <div class="del-edit-btn-container">
              <a class="edit-btn" href="/blogs/edit/<%= article._id %>">Edit</a>
              <form action="/blogs/publish/<%= article._id %>?_method=PUT" method="POST">
                <% if (article.published) { %>
                  <button class="unpublish-btn" type="submit">Unpublish</button>
                <% } else { %>
                  <button class="publish-btn" type="submit">Publish</button>
                <% } %>
              </form>
              <form action="/blogs/<%= article._id %>?_method=DELETE" method="POST">
                <button class="del-btn" type="submit">Delete</button>
              </form>
            </div>
            <% } %>
          </div>
        <% } else if (user.admin) { %>
          <!-- All Articles (Published/Unpublished) Shown To Admin -->
          <div class="article-container">
            <div class="article-information">
              <h4 class="article-title"><a href="/blogs/view/<%= article.slug %>"><%= article.title %></a></h4>
              <div class="article-author"><img class="author-img" src="/imgs/Prabdeep.png" alt="Prabdeep Dhaliwal"><div><%= article.createdUsername %></div></div>
              <div class="article-date"><%= article.createdAt.toLocaleDateString() %></div>
              <div class="article-description"><%= article.description %></div>
            </div>
            <% if (user.username == article.createdUsername) { %>
              <!-- Edit, Publish or Delete Article Buttons Shown To Admin For Their Articles Only -->
            <div class="del-edit-btn-container">
              <a class="edit-btn" href="/blogs/edit/<%= article._id %>">Edit</a>
              <form action="/blogs/publish/<%= article._id %>?_method=PUT" method="POST">
                <% if (article.published) { %>
                  <button class="unpublish-btn" type="submit">Unpublish</button>
                <% } else { %>
                  <button class="publish-btn" type="submit">Publish</button>
                <% } %>
              </form>
              <form action="/blogs/<%= article._id %>?_method=DELETE" method="POST">
                <button class="del-btn" type="submit">Delete</button>
              </form>
            </div>
            <% } %>
          </div>
        <% } %> 
      <% } else if (article.published && !user) { %>
        <!-- Published Articles Shown To Public (Non-Users) -->
        <div class="article-container">
          <div class="article-information">
            <h4 class="article-title"><a href="/blogs/view/<%= article.slug %>"><%= article.title %></a></h4>
            <div class="article-author"><img class="author-img" src="/imgs/Prabdeep.png" alt="Prabdeep Dhaliwal"><div><%= article.createdUsername %></div></div>
            <div class="article-date"><%= article.createdAt.toLocaleDateString() %></div>
            <div class="article-description"><%= article.description %></div>
          </div>
        </div>
      <% } %>
    <% }) %>
  </main>
</body>
</html>