<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./_head.ejs') %>
  <title>Blogs - <%= title %></title>
</head>
<body>
  <main class="blogs-section">
    <h3 class="main-header">Educational Blogs</h3>
    <a class="new-article-btn primary-color-bg" href="/blogs/new">New Article</a>
    <% articles.forEach(article => { %>
      <div class="article-container">
        <div class="article-information">
          <h4 class="article-title"><a href="/blogs/view/<%= article._id %>"><%= article.title %></a></h4>
          <div class="article-author"><img class="author-img" src="../imgs/Prabdeep.png" alt="Prabdeep Dhaliwal"><div><%= article.author %></div></div>
          <div class="article-date"><%= article.createdAt.toLocaleDateString() %></div>
          <div class="article-description"><%= article.description %></div>
        </div>
        <div class="del-edit-btn-container">
          <a class="edit-btn success-color-bg" href="/blogs/edit/<%= article._id %>">Edit</a>
          <form class="delete-form" action="/blogs/<%= article._id %>?_method=DELETE" method="POST">
            <button class="del-btn" type="submit">Delete</button>
          </form>
        </div>
      </div>
    <% }) %>
  </main>
</body>
</html>