<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./_head.ejs') %>
  <title>Blogs - <%= article.title %></title>
</head>
<body>
  <%- include('./_navbar.ejs')%>

  <main class="page-section">
    <section class="article-section">
      <!-- VIEW ARTICLE PAGE BUTTONS -->
      <div class="view-article-btns">
        <a class="back-btn" href="/blogs">Back</a>
        <% if (user) { %>
        <% if (user.username == article.createdUsername) { %>
        <div class="del-edit-btn-container">
          <a class="edit-btn" href="/blogs/edit/<%= article._id %>">Edit</a>
          <form class="delete-form" action="/blogs/<%= article._id %>?_method=DELETE" method="POST">
            <button class="del-btn" type="submit">Delete</button>
          </form>
        </div>
        <% } %>
        <% } %>
      </div>
      <!-- VIEW ARTICLE -->
      <main class="view-article">
        <h2 class="article-title"><%= article.title %></h2>
        <div class="article-author"><img class="author-img" src="/imgs/Prabdeep.png"><div><%= article.author %></div></div>
        <div class="article-date">Updated on: <%= article.createdAt.toLocaleDateString() %></div>
        <div class="article-markdown"><%- article.sanitizedHtml %></div>
      </main>
      <!-- article comments -->
      <section class="comments-section">
        <h2 class="sub-header">Comments</h2>
        <!-- COMMENT INPUT CONTAINER -->
        <form class="basic-form" action="/blogs/view/<%= article.slug %>/comment" method="POST">
          <%- include('./_comment_form.ejs') %>
        </form>
        <% comments.forEach(comment => { %>
          <div class="comment-box-container">
            <div class="comment-info">
              <!-- comment information -->
              <span>
                <b><%= comment.author %></b>
                <span class="comment-date"><%= comment.createdAt.toDateString() %> <%= comment.createdAt.toLocaleTimeString() %></span>
              </span>
              <!-- comment and edit input container -->
              <div class="comment-and-edit-input-container">
                <div class="comment"><%= comment.comment %></div>
                <span class="hide" data-edit-comment-input-container>
                  <form action="/blogs/view/<%= article.slug %>/comment/<%= comment._id %>?_method=PUT" method="POST">
                    <input type="text" name="comment" value="<%= comment.comment %>">
                    <button type="submit" class="submit-reply-btn">Submit</button>
                    <button type="button" class="cancel-reply-btn">Cancel</button>
                  </form> 
                </span>
              </div>
              <form class="comment-like-reply-btn-container" action="/blogs/view/<%= article.slug %>/comment/<%= comment._id %>/like?_method=PUT" method="POST">
                <% if (!user) { %>
                <a class="a-like-btn" href="/account/login"><i style="font-size:0.8rem; margin-right: 5px" class="fa">&#xf087;</i><%= comment.usersLiked.length %></a>
                <a class="a-reply-btn" data-comment-reply-button href="/account/login">Reply</a>
                <% } else { %>
                <button type="submit" class="like-btn"><i style="font-size:0.8rem; margin-right: 5px" class="fa">&#xf087;</i><%= comment.usersLiked.length %></button>
                <button type="button" class="reply-btn" data-comment-reply-button>Reply</button>
                <% } %>
              </form>
            </div>
            <!-- comment buttons -->
            <div class="comments-btn-containers">
              <% if (user) { %>
              <% if (user.username == comment.author) { %>
              <form class="comments-del-edit-btn-container" action="/blogs/view/<%= article.slug %>/comment/<%= comment._id %>?_method=DELETE" method="POST">
                <button type="button" class="edit-btn" data-edit-comment-button>Edit</button>
                <button type="submit" class="del-btn">Delete</button>
              </form>
              <% } %>
              <% } %>
            </div>
          </div>
          <!-- REPLY INPUT CONTAINER -->
          <div class="reply-comment-input-box hide" data-reply-input-box-container>
            <form class="reply-comment-form" action="/blogs/view/<%= article.slug %>/comment/<%= comment._id %>/reply" method="POST">
              <span>
                <input type="text" name="replyComment" placeholder="Add a reply...">
                <button type="submit" class="submit-reply-btn">Reply</button>
                <button type="button" class="cancel-reply-btn" data-cancel-reply-button>Cancel</button>
              </span>
            </form>
          </div>
          <% replies.forEach(reply => { %>
          <% if (comment._id == reply.commentRef) { %>
          <div class="reply-comment-box-container">
            <div class="comment-info">
              <!-- reply information -->
              <span>
                <b><%= reply.author %></b>
                <span class="comment-date"><%= reply.createdAt.toDateString() %> <%= reply.createdAt.toLocaleTimeString() %></span>
              </span>
              <!-- reply and edit input container -->
              <div class="comment-and-edit-input-container">
                <div class="comment"><%= reply.replyComment %></div>
                <span class="hide" data-edit-comment-input-container>
                  <form action="/blogs/view/<%= article.slug %>/comment/<%= comment._id %>/reply/<%= reply._id %>?_method=PUT" method="POST">
                    <input type="text" name="replyComment" value="<%= reply.replyComment %>">
                    <button type="submit">Submit</button>
                    <button type="button">Cancel</button>
                  </form> 
                </span>
              </div>
              <form class="comments-like-reply-btn-container" action="/blogs/view/<%= article.slug %>/comment/<%= comment._id %>/reply/<%= reply._id %>/like?_method=PUT" method="POST">
                <% if (!user) { %>
                <a class="a-like-btn" href="/account/login"><i style="font-size:0.8rem; margin-right: 5px" class="fa">&#xf087;</i><%= comment.usersLiked.length %></a>
                <% } else { %>
                <button type="submit" class="like-btn"><i style="font-size:0.8rem; margin-right: 5px" class="fa">&#xf087;</i><%= reply.usersLiked.length %></button>
                <% } %>
              </form>
            </div>
            <!-- reply buttons -->
            <div class="comments-btn-containers">
              <% if (user) { %>
              <% if (user.username == reply.author) { %>
              <form class="comments-del-edit-btn-container" action="/blogs/view/<%= article.slug %>/comment/<%= comment._id %>/reply/<%= reply._id%>?_method=DELETE" method="POST">
                <button type="button" class="edit-btn" data-edit-comment-button>Edit</button>
                <button type="submit" class="del-btn">Delete</button>
              </form>
              <% } %>
              <% } %>
            </div>
          </div>
          <% } %>
          <% }) %>
        <% }) %>
      </section>
    </section>
  </main>
</body>
</html>